{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/datatables/datatables.bs.min.css') }}">
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/datatables/dt-pagination.css') }}">
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/datatables/dt-processing.css') }}">
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/select2/select2.bs4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/sweetalert/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../modules/mpstockadv/views/assets/controllers/stockMvt.js') }}"></script>
    <script type="module">
        import RoutesSingletonInstance from "{{ asset('../modules/mpstockadv/views/assets/routes/routes.js') }}";

        document.addEventListener("DOMContentLoaded", async e =>{
            const PS_ROUTES = {
                loadModalMovementsUrl: "{{ path('mpstockadv_controller_stockmvt_load_modal_dialog') }}",
                loadModalPreferencesUrl: "{{ path('mpstockadv_controller_stockmvt_load_modal_preferences') }}",
                savePreferencesUrl: "{{ path('mpstockadv_controller_stockmvt_save_preferences') }}",
                productAutocompleteUrl: "{{ path('mpstockadv_controller_stockmvt_product_autocomplete') }}",
                productAutocompleteSaveUrl: "{{ path('mpstockadv_controller_stockmvt_product_autocomplete_save') }}",
                loadStockMvtPreferencesUrl: "{{ path('mpstockadv_controller_stockmvt_load_stock_mvt_preferences') }}",
                ajaxProcessRefreshTableDataUrl: "{{ path('mpstockadv_controller_stockmvt_ajax_refresh_table') }}",
                ajaxProcessTruncateStockTablesUrl: "{{ path('mpstockadv_controller_stockmvt_ajax_truncate_stock_tables_url') }}",
                ajaxProcessGetStockAvailableRowsUrl: "{{ path('mpstockadv_controller_stockmvt_ajax_get_stock_available_rows') }}",
                ajaxProcessImportChunkUrl: "{{ path('mpstockadv_controller_stockmvt_ajax_import_chunk_url') }}"
            };
            
            RoutesSingletonInstance.setRoutes(PS_ROUTES);
            console.log(RoutesSingletonInstance.getAllRoutes());

            const tableDataLanguageItUrl = "{{ asset('../modules/mpstockadv/views/assets/components/datatables/it-IT.json') }}";
            const defaultWarehouseId = 0;
            const defaultStockMvtReasonLoadId = 0;
            const defaultStockMvtReasonUnloadId = 0;

            window.Routes = RoutesSingletonInstance;
            window.TableDataLanguageItUrl = tableDataLanguageItUrl;
            window.defaultWarehouseId = defaultWarehouseId;
            window.defaultStockMvtReasonLoadId = defaultStockMvtReasonLoadId;
            window.defaultStockMvtReasonUnloadId = defaultStockMvtReasonUnloadId;
            await initStockMvt();
        });
    </script>

    <script src="{{ asset('../modules/mpstockadv/views/assets/toolbar-menu/moveTop.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/components/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/components/select2/select2.min.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/components/sweetalert/sweetalert2.min.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/components/sweetalert/swalConfirm.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/product-autocomplete/productAutocompleteClass.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/product-autocomplete/stockMvtPreferencesClass.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="toolbar-menu">
        {{ toolbarMenuHtml|raw }}
    </div>
    <div class="card">
        <div class="card-header">
            <i class="material-icons">swap_horiz</i>
            Movimenti di Magazzino
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="stockMvtTable" class="table table-bordered table-striped table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>IMG</th>
                                <th>ID</th>
                                <th>Rif Doc</th>
                                <th>Data Doc</th>
                                <th>Tipo</th>
                                <th>Segno</th>
                                <th>Riferimento</th>
                                <th>Ean13</th>
                                <th>Prodotto</th>
                                <th>Combinazione</th>
                                <th>Magazzino</th>
                                <th>Stock Iniz.</th>
                                <th>Movimento</th>
                                <th>Giacenza</th>
                                <th>Data</th>
                                <th>Impiegato</th>
                                <th>Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- I dati verranno caricati dinamicamente attraverso JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
