{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/datatables/datatables.bs.min.css') }}">
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/datatables/dt-processing.css') }}">
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/datatables/dt-pagination.css') }}">
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/select2/select2.bs4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/sweetalert/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        console.log("StockMvtPreferences.twig.html script loaded");
        const tableDataLanguageItUrl = "{{ asset('../modules/mpstockadv/views/assets/components/datatables/it-IT.json') }}";
        const ajaxProcessRefreshTableData = "{{ path('mpstockadv_controller_stockmvt_refresh_table_data') }}";
        const loadModalMovementsUrl = "{{ path('mpstockadv_controller_stockmvt_load_modal_dialog') }}";
    </script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/components/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/components/select2/select2.min.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/components/sweetalert/sweetalert2.min.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/components/sweetalert/swalConfirm.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/controllers/stockMvt.js') }}"></script>
    <script src="{{ asset('../modules/mpstockadv/views/assets/toolbar-menu/moveTop.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="toolbar-menu">
        {{ toolbarMenuHtml|raw }}
    </div>
    <div class="card">
        <div class="card-header d-flex justify-content-start align-items-center">
            <i class="material-icons">construction</i>
            <span class="card-title">Preferenze</span>
        </div>
        <div class="card-body">
            {% include '@Modules/mpstockadv/views/twig/Components/stockMvt.dialog.preferences.html.twig' with {
                'warehouses': warehouses,
                'default_warehouse': default_warehouse,
            } %}
        </div>
    </div>
{% endblock %}
