{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/datatables/datatables.bs.min.css') }}">
<link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/datatables/dt-pagination.css') }}">
<link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/datatables/dt-processing.css') }}">
<link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/components/select2/select2.bs4.min.css') }}">
<link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/css/pagination.css') }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('../modules/mpstockadv/views/assets/toolbar-menu/moveTop.js') }}"></script>
<script src="{{ asset('../modules/mpstockadv/views/assets/components/datatables/datatables.min.js') }}"></script>
<script src="{{ asset('../modules/mpstockadv/views/assets/components/select2/select2.min.js') }}"></script>
<script type="text/javascript">
    const tableDataLanguageItUrl = "{{ asset('../modules/mpstockadv/views/assets/components/datatables/it-IT.json') }}",
        parseXmlFileUrl = "{{ path('mpstockadv_controller_stockimportexport_parse_xml') }}",
        importXmlStockUrl = "{{ path('mpstockadv_controller_stockimportexport_import_xml') }}";

    window.tableDataLanguageItUrl = tableDataLanguageItUrl;
    window.parseXmlFileUrl = parseXmlFileUrl;
    window.importXmlStockUrl = importXmlStockUrl;
</script>
<script src="{{ asset('../modules/mpstockadv/views/assets/controllers/stockMvtImport.js') }}"></script>
{% endblock %}

{% block content %}
<div class="toolbar-menu">
    {{ toolbarMenuHtml|raw }}
</div>
<div class="bootstrap mt-4">
    <h2 class="mb-4">
        Importazione Movimenti Magazzino
    </h2>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="nav-import-xml" data-toggle="tab" data-target="#tab-import-xml" type="button" role="tab" aria-controls="tab-import-xml" aria-selected="true">
                <span class="material-icons">
                    download
                </span>
                <span class="label">
                    Importa da XML
                </span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="nav-export-xml" data-toggle="tab" data-target="#tab-export-xml" type="button" role="tab" aria-controls="tab-export-xml" aria-selected="false">
                <span class="material-icons">
                    upload
                </span>
                <span class="label">
                    Esporta documenti
                </span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="nav-import-mvt-reasons" data-toggle="tab" data-target="#tab-import-mvt-reasons" type="button" role="tab" aria-controls="tab-import-mvt-reasons" aria-selected="false">
                <span class="material-icons">
                    download
                </span>

                <span class="label">
                    Importa tipi di movimento
                </span>
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-import-xml" role="tabpanel" aria-labelledby="nav-import-xml">
            {% include '@Modules/mpstockadv/views/twig/Controllers/tabs/nav-import-xml.html.twig' with _context %}
        </div>
        <div class="tab-pane fade" id="tab-export-xml" role="tabpanel" aria-labelledby="nav-export-xml">
            {% include '@Modules/mpstockadv/views/twig/Controllers/tabs/nav-export-xml.html.twig' with _context %}
        </div>
        <div class="tab-pane fade" id="tab-import-mvt-reasons" role="tabpanel" aria-labelledby="nav-import-mvt-reasons">
            {% include '@Modules/mpstockadv/views/twig/Controllers/tabs/nav-import-mvt-reasons.html.twig' with _context %}
        </div>
    </div>
</div>

<!-- Dialog per stato importazione e errori -->
<dialog id="import-status-dialog" class="bootstrap">
    <div class="card">
        <div class="card-body">
            <form method="dialog">
                <h4 id="import-status-title">
                    Stato Importazione
                </h4>
                <div id="import-status-content">
                    <p>
                        In attesa di avviare un'importazione...
                    </p>
                </div>
            </form>
        </div>
        <div class="card-footer d-flex justify-content-center align-items-center gap-2">
            <button id="close-dialog" class="bootstrap btn btn-primary">
                <span class="material-icons">
                    close
                </span>
                <span class="bold ml-2">
                    Chiudi
                </span>
            </button>
        </div>
    </div>
</dialog>
{% endblock %}