{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.toggable {
			display: none;
		}

		.toggable.active {
			display: block;
			transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		}

		.select2-selection {
			min-height: 38px;
			display: flex;
			align-items: center;
			justify-content: start;
		}
	</style>
	<link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/select2/select2.min.css') }}">
	<link rel="stylesheet" href="{{ asset('../modules/mpstockadv/views/assets/select2/select2.bootstrap4.min.css') }}">

{% endblock %}

{% block content %}
	<section class="top-menu">
		{{ include('@Modules/mpstockadv/views/templates/components/menu.html.twig') }}
	</section>

	<section class="warehouses">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Magazzini</h3>
			</div>
			<div class="card-body">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Posizione</th>
							<th>Attivo</th>
							<th>Azioni</th>
						</tr>
					</thead>
					<tbody>
						{% for warehouse in warehouses %}
							<tr>
								<td>{{ warehouse.name }}</td>
								<td>{{ warehouse.location }}</td>
								<td>{{ warehouse.active ? 'Sì' : 'No' }}</td>
								<td>
									<button type="button" class="btn btn-primary" onclick="editWarehouse({{ warehouse.id }})">Modifica</button>
									<button type="button" class="btn btn-danger" onclick="disableWarehouse({{ warehouse.id }})">Disabilita</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section class="toggable" id="warehouse-info">
		<form method="post" action="">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title"><!-- inserito via JS --></h3>
				</div>
				<div class="card-body">
					<input type="hidden" id="warehouse-id" name="id">
					<div class="row mb-3">
						<div class="col-md-5">
							<div class="form-group">
								<label for="warehouse-name" class="form-label">Nome</label>
								<input type="text" class="form-control" id="warehouse-name" name="name" value="" required>
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<label for="warehouse-location" class="form-label">Località</label>
								<input type="text" class="form-control" id="warehouse-location" name="location" value="" required>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="form-label">Stato</label>
								<div class="ps-switch ps-switch-lg ps-switch-left">
									<input type="radio" name="deleted" id="warehouse-status-off" value="1">
									<label for="warehouse-status-off">Disattivo</label>
									<input type="radio" name="deleted" id="warehouse-status-on" value="0">
									<label for="warehouse-status-on">Attivo</label>
									<span class="slide-button"></span>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<h4>Indirizzo Magazzino (facoltativo)</h4>
					<div class="row mb-3">
						<div class="col mr-2">
							<div class="form-group">
								<label for="warehouse-address1" class="form-label">Via</label>
								<input type="text" class="form-control" id="warehouse-address1" name="address1" value="">
							</div>
						</div>
						<div class="col mr-2">
							<div class="form-group">
								<label for="warehouse-postcode" class="form-label">CAP</label>
								<input type="text" class="form-control" id="warehouse-postcode" name="postcode" value="">
							</div>
						</div>
						<div class="col mr-2">
							<div class="form-group">
								<label for="warehouse-city" class="form-label">Città</label>
								<input type="text" class="form-control" id="warehouse-city" name="city" value="">
							</div>
						</div>
						<div class="col mr-2">
							<div class="form-group">
								<label for="warehouse-country" class="form-label">Paese</label>
								<select class="form-select bootstrap4 select2" id="warehouse-country" name="id_country">
									<option value="">Seleziona paese</option>
									{% for country in countries %}
										<option value="{{ country.id_country }}" {% if country.iso_code == "IT" %} selected {% endif %}>{{ country.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col mr-2">
							<div class="form-group">
								<label for="warehouse-state" class="form-label">Stato/Provincia</label>
								<div class="spinner" id="stateSpinner" style="display: none;">
									<div class="spinner-border text-primary" role="status">
										<span class="visually-hidden">Loading...</span>
									</div>
								</div>
								<select class="form-select bootstrap4 select2" id="warehouse-state" name="id_state" data-selected="">
									<option value="">Seleziona stato</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center">
						<button type="submit" class="btn btn-success">Salva modifiche</button>
						<button type="button" class="btn btn-secondary ms-2" onclick="closeWarehouseInfo()">Annulla</button>
					</div>
				</div>
			</div>
		</form>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" defer>
		const ControllerURLS = {
getStatesUrl: "{{ path('mpstockadv_admin_stockadv_get_states') }}"
};
	</script>
	<script src="{{ asset('../modules/mpstockadv/views/assets/select2/select2.min.js') }}" defer></script>
	<script src="{{ asset('../modules/mpstockadv/views/js/controllers/admin/warehouses/warehouses.index.js') }}" defer></script>
{% endblock %}
